## 관리종목과 상장폐지종목 비교하기

In [1]:
import pandas as pd

In [2]:
# 함수만들기
# 회계년도컬럼, 년도만 뽑아서 int화
def change_year(x):
    return int(x[:4])

In [3]:
상폐_df = pd.read_csv('./datasets/y/상장폐지현황.csv')

In [4]:
관리_df = pd.read_csv('./datasets/y/관리종목.csv')

In [5]:
상폐_df["폐지일자"] = 상폐_df["폐지일자"].map(change_year) # 년도만 표시
관리_df["시간"] = 관리_df["시간"].map(change_year)

In [6]:
상폐_df

,번호,회사명,종목코드,폐지일자,폐지사유,비고
0,603,래몽래인,200350,2021,코스닥시장 이전상장,래몽래인
1,602,SK머티리얼즈,36490,2021,피흡수합병,NaN
2,601,GV,45890,2021,해산사유 발생(파산선고),NaN
3,600,툴젠,199800,2021,코스닥시장 이전상장,툴젠
4,599,에스에이티이엔지,158300,2021,피흡수합병,NaN
...,...,...,...,...,...,...
598,5,세실,84450,2011,감사의견거절(범위제한 및 계속기업 존속 불확실성),NaN
599,4,아이피에스,51820,2011,피흡수합병,NaN
600,3,네이쳐글로벌,88020,2011,"기업의 계속성, 경영의 투명성 또는 기타 코스닥시장의 건전성 등을 종합적으로 고려하...",NaN
601,2,지비베트남1,94950,2011,해산 사유 발생,NaN
602,1,동북아8호,82110,2011,종목별 상장폐지신청,NaN

In [7]:
상폐_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603 entries, 0 to 602
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      603 non-null    int64
 1   회사명     603 non-null    object
 2   종목코드    603 non-null    int64
 3   폐지일자    603 non-null    int64
 4   폐지사유    603 non-null    object
 5   비고      65 non-null     object
dtypes: int64(3), object(3)
memory usage: 28.4+ KB

In [8]:
관리_df

      848    시간      회사명   종목코드                       공시제목       제출인
0     847  2021       동양   1520         관리종목지정(동양3우선주(신형))  유가증권시장본부
1     846  2021   SK네트웍스   1740         관리종목지정(SK네트웍스1우선주)  유가증권시장본부
2     845  2021       신원   9270             관리종목지정(신원1우선주)  유가증권시장본부
3     844  2021  현대비앤지스틸   4560        관리종목지정(현대비앤지스틸1우선주)  유가증권시장본부
4     843  2021     KG스틸  16380         관리종목지정(KG동부제철1우선주)  유가증권시장본부
...   ...   ...      ...    ...                        ...       ...
2304    5  2011     선팩테크  54010          관리종목지정(불성실공시법인지정)   코스닥시장본부
2305    4  2011   디에이치패션  45260  관리종목지정사유일부해제(파산 신청 사유 해소)   코스닥시장본부
2306    3  2011     대한해운   5880                     관리종목지정  유가증권시장본부
2307    2  2011    대양글로벌  40180               관리종목지정사유일부해제   코스닥시장본부
2308    1  2011  에스브이에이치  46240                 관리종목지정사유추가   코스닥시장본부

[2309 rows x 6 columns]

In [9]:
# 관리/상폐 이름 맞춰주기
관리_df = 관리_df.rename(columns={'시간': '폐지일자','공시제목':'관리대상'})

In [10]:
# 컬럼명 drop하기
관리_df = 관리_df.drop(['848', '회사명'], axis=1)
상폐_df = 상폐_df.drop(['번호','비고'], axis=1)

In [11]:
# 데이터프레임 합치기
상폐_관리df = pd.merge(상폐_df,관리_df,on=['종목코드','폐지일자'], how='left')

In [12]:
상폐_관리df

,회사명,종목코드,폐지일자,폐지사유,관리대상,제출인
0,래몽래인,200350,2021,코스닥시장 이전상장,NaN,NaN
1,SK머티리얼즈,36490,2021,피흡수합병,NaN,NaN
2,GV,45890,2021,해산사유 발생(파산선고),관리종목지정사유추가(회생절차 개시신청),코스닥시장본부
3,GV,45890,2021,해산사유 발생(파산선고),관리종목지정사유추가(반기보고서 법정제출기한 익일부터 10일 이내 반기 검토(감사)보...,코스닥시장본부
4,GV,45890,2021,해산사유 발생(파산선고),관리종목지정사유추가(반기보고서 미제출),코스닥시장본부
...,...,...,...,...,...,...
865,세실,84450,2011,감사의견거절(범위제한 및 계속기업 존속 불확실성),NaN,NaN
866,아이피에스,51820,2011,피흡수합병,NaN,NaN
867,네이쳐글로벌,88020,2011,"기업의 계속성, 경영의 투명성 또는 기타 코스닥시장의 건전성 등을 종합적으로 고려하...",NaN,NaN
868,지비베트남1,94950,2011,해산 사유 발생,NaN,NaN
869,동북아8호,82110,2011,종목별 상장폐지신청,NaN,NaN

In [13]:
상폐_관리df.loc[상폐_관리df['회사명'] == '한진해운']

      회사명    종목코드  폐지일자      폐지사유        관리대상       제출인
336  한진해운  117930  2017  해산 사유 발생  관리종목지정사유변경  유가증권시장본부

In [14]:
# 상폐이고 관리대상열이 공백이나 결측치가 아닌 경우에 해당하는 데이터를 조회
상폐_관리df.loc[(상폐_관리df['폐지사유'] == '피흡수합병') & (상폐_관리df['관리대상'].notnull()), :]

,회사명,종목코드,폐지일자,폐지사유,관리대상,제출인
738,알덱스,25970,2011,피흡수합병,[정정]관리종목지정,코스닥시장본부
739,알덱스,25970,2011,피흡수합병,관리종목지정[정],코스닥시장본부
741,더체인지,54120,2011,피흡수합병,관리종목지정(최근3사업연도중 2사업연도 자기자본 50%초과 법인세비용차감전계속사업손...,코스닥시장본부

In [15]:
# 상폐이고 관리대상 열이 공백이나 결측치가 아닌 경우에 해당하는 데이터를 조회
상폐_관리df.loc[(상폐_관리df['폐지사유'] == '해산 사유 발생') & (상폐_관리df['관리대상'].notnull()), :]

      회사명    종목코드  폐지일자      폐지사유        관리대상       제출인
336  한진해운  117930  2017  해산 사유 발생  관리종목지정사유변경  유가증권시장본부

In [2085]:
상폐_관리df.to_csv('상폐_관리.csv',encoding="utf-8-sig")

## 자발적 폐지기업은 제외하기

In [2086]:
df = pd.read_csv('./y/상장폐지현황.csv')

In [2087]:
# 날짜재구성
df["폐지일자"] = df["폐지일자"].map(change_year)

In [2088]:
#컬럼명 변경
df = df.rename(columns={'폐지일자':'회계년도','종목코드':'거래소코드'})

In [2089]:
#회사명 스팩인것 제외
df = df[~df['회사명'].str.contains('스팩')]

In [2090]:
# 일정 문자가 들어간 행 삭제
df = df[~df['폐지사유'].str.contains('코스닥시장 상장')]
df = df[~df['폐지사유'].str.contains('코스닥시장 이전상장')]
df = df[~df['폐지사유'].str.contains('유가증권시장 상장')]
df = df[~df['폐지사유'].str.contains('상장폐지 신청')]
df = df[~df['폐지사유'].str.contains('상장폐지신청')]
df = df[~df['폐지사유'].str.contains('신청에 의한 상장폐지')]
df = df[~df['폐지사유'].str.contains('종목별 상장폐지신청')]
df = df[~df['폐지사유'].str.contains('완전자회사')]
df = df[~df['폐지사유'].str.contains('존속기간 만료')]
df = df[~df['폐지사유'].str.contains('SPAC 상장예비심사청구서 미제출')]
df = df[~df['폐지사유'].str.contains('포괄적 주식교환에 따른 상장폐지 신청')]

In [2091]:
# 피흡수합병사유 중 과거 관리종목이 된것 제외하고 자발적으로 봄 
df = df[~(df['폐지사유'].str.contains('피흡수합병')) | (df['회사명'].isin(['알덱스','더체인지']))]

In [2092]:
# 한진해운을 제외하고 해산 사유 발생은 피흡수합병과 동일하다는것을 확인
df = df[(df['폐지사유'] != '해산 사유 발생') | (df['회사명'].isin(['한진해운']))]

In [2093]:
# 스팩주
df = df[~df['폐지사유'].str.contains('상장예비심사 청구서 미제출로 관리종목 지정 후 1개월 이내 동 사유 미해소')]

In [2094]:
# 코넥스만 있는거 확인
df = df[~df['폐지사유'].str.contains('지정자문인')]

In [2095]:
df

,번호,회사명,거래소코드,회계년도,폐지사유,비고
9,651,참존글로벌,158310,2022,기업의 계속성 및 경영의 투명성 등을 종합적으로 고려하여 상장폐지기준에 해당한다고 결정,NaN
10,650,레드로버,60300,2022,기업의 계속성 및 경영의 투명성 등을 종합적을 고려하여 상장폐지기준에 해당한다고 결정,NaN
13,647,뉴로스,126870,2022,감사의견 거절(감사범위 제한 및 계속기업 존속능력 불확실성),NaN
16,644,연이비앤티,90740,2022,기업의 계속성 및 경영의 투명성 등을 종합적으로 고려하여 상장폐지기준에 해당한다고 결정,NaN
17,643,테라셈,182690,2022,감사의견 거절(감사범위 제한),NaN
...,...,...,...,...,...,...
647,13,경윤하이드로,19120,2011,기업의 계속성 및 경영의 투명성 등을 종합적으로 고려하여 상장폐지 기준에 해당한다고 결정,NaN
652,8,핸디소프트,32380,2011,기업의 계속성 및 경영의 투명성 등을 종합적으로 고려하여 상장폐지 기준에 해당한다고 결정,NaN
654,6,에스브이에이치,46240,2011,기업의 계속성 및 경영의 투명성 등을 종합적으로 고려하여 상장폐지 기준에 해당한다고 결정,NaN
655,5,세실,84450,2011,감사의견거절(범위제한 및 계속기업 존속 불확실성),NaN
657,3,네이쳐글로벌,88020,2011,"기업의 계속성, 경영의 투명성 또는 기타 코스닥시장의 건전성 등을 종합적으로 고려하...",NaN

## 회생기업 포함

In [2096]:
회생_df = pd.read_csv('./y/회생승인기업.csv')

In [2097]:
회생_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      270 non-null    int64
 1   시간      270 non-null    object
 2   회사명     270 non-null    object
 3   종목코드    270 non-null    int64
 4   공시제목    270 non-null    object
 5   제출인     270 non-null    object
dtypes: int64(2), object(4)
memory usage: 12.8+ KB

In [2098]:
#결측치제거하기
회생_df.dropna(inplace=True)

In [2099]:
# 날짜재구성
회생_df["시간"] = 회생_df["시간"].str[:4]

In [2100]:
회생_df

      번호    시간    회사명    종목코드                     공시제목       제출인
0      1  2011   대한해운    5880                 회생절차개시결정      대한해운
1      2  2011   대한해운    5880    매매거래정지및정지해제(회생절차개시결정)  유가증권시장본부
2      3  2011    씨모텍   81090                 회생절차개시결정       씨모텍
3      4  2011   에피밸리   68630                 회생절차개시결정      에피밸리
4      5  2011   에피밸리   68630     주권매매거래정지해제(회생절차개시결정)   코스닥시장본부
..   ...   ...    ...     ...                      ...       ...
265   99  2022  엘아이에스  138690                 회생절차개시결정     엘아이에스
266  101  2022  지나인제약   78650                 회생절차개시결정     지나인제약
267  102  2022  지나인제약   78650  주권매매거래정지기간변경(회생절차 개시결정)   코스닥시장본부
268  103  2022  코원플레이   56000             [정정]회생절차개시결정     코원플레이
269  104  2022    베스파  299910          [정정]회생절차개시결정[정]       베스파

[270 rows x 6 columns]

In [2101]:
# 중목코드가 중복되는것 삭제 (최초시기만 남기기)
회생_df = 회생_df.sort_values(by='시간', ascending=True)
회생_df = 회생_df.drop_duplicates(['종목코드'])

In [2102]:
# TS2000 열이름과 통일시키기
회생_df = 회생_df.rename(columns={'시간':'회계년도','종목코드':'거래소코드'})

In [2103]:
회생_df = 회생_df.drop(['제출인'], axis=1)

In [2104]:
# 열순서 바꾸기
회생_df = 회생_df.loc[:, ['번호', '회사명', '거래소코드', '회계년도', '공시제목']]

In [2105]:
회생_df

     번호      회사명   거래소코드  회계년도                            공시제목
0     1     대한해운    5880  2011                        회생절차개시결정
17   18      미리넷   56710  2011                 [정정]회생절차개시결정[정]
16   17   미성포리테크   94700  2011            주권매매거래정지해제(회생절차개시결정)
14   15     CT&T   50470  2011                        회생절차개시결정
10   11   대우송도개발    4550  2011  매매거래정지및정지해제(회생절차개시결정에 따른 정지해제)
..   ..      ...     ...   ...                             ...
246  81     제이웨이   58420  2022         주권매매거래정지기간변경(회생절차 개시결정)
235  70      코스온   69110  2022                        회생절차개시결정
237  72      MIT   38340  2022                        회생절차개시결정
239  74  에스에이치엔엘   50320  2022                     회생절차개시결정[정]
247  82     비디아이  148140  2022                        회생절차개시결정

[120 rows x 5 columns]

In [2106]:
# df는 상폐기업리스트
df = df.rename(columns={'폐지사유':'공시제목'})

In [2107]:
df = df.drop(['비고'],axis=1)

In [2108]:
# 상폐된 년도에는 재무공시가 안됨으로 T-1하기
df['회계년도'] = df['회계년도']-1

In [2109]:
df.loc[df["회사명"]=="한진해운"]

      번호   회사명   거래소코드  회계년도      공시제목
322  338  한진해운  117930  2016  해산 사유 발생

In [2110]:
# 공시제목열 값 통일 시키기
회생_df['공시제목'] = "회생절차개시결정"
df['공시제목'] = "상장폐지기업"

In [2111]:
회생_df.loc[회생_df['거래소코드'] == 189700]

     번호    회사명   거래소코드  회계년도      공시제목
111   2  디피앤케이  189700  2017  회생절차개시결정

In [2112]:
회생_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 0 to 247
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      120 non-null    int64
 1   회사명     120 non-null    object
 2   거래소코드   120 non-null    int64
 3   회계년도    120 non-null    object
 4   공시제목    120 non-null    object
dtypes: int64(2), object(3)
memory usage: 5.6+ KB

In [2113]:
df

      번호      회사명   거래소코드  회계년도    공시제목
9    651    참존글로벌  158310  2021  상장폐지기업
10   650     레드로버   60300  2021  상장폐지기업
13   647      뉴로스  126870  2021  상장폐지기업
16   644    연이비앤티   90740  2021  상장폐지기업
17   643      테라셈  182690  2021  상장폐지기업
..   ...      ...     ...   ...     ...
647   13   경윤하이드로   19120  2010  상장폐지기업
652    8    핸디소프트   32380  2010  상장폐지기업
654    6  에스브이에이치   46240  2010  상장폐지기업
655    5       세실   84450  2010  상장폐지기업
657    3   네이쳐글로벌   88020  2010  상장폐지기업

[301 rows x 5 columns]

In [2114]:
# 데이터프레임 위아래 결합
df_concat = pd.concat([df, 회생_df], axis=0)

In [2115]:
# 회계년도 기준 오름차순해주기
df_concat['회계년도'] = df_concat['회계년도'].astype(int)
df_concat = df_concat.sort_values(by='회계년도', ascending=True)

## 회생기업과 상장폐지기업 겹치는 경우 삭제

In [2116]:
df_concat

     번호      회사명   거래소코드  회계년도      공시제목
625  35      디패션   30420  2010    상장폐지기업
633  27      지앤알   43630  2010    상장폐지기업
632  28    유니텍전자   39040  2010    상장폐지기업
631  29    세븐코스프   17160  2010    상장폐지기업
630  30     맥스브로   88810  2010    상장폐지기업
..   ..      ...     ...   ...       ...
254  89     소리바다   53110  2022  회생절차개시결정
258  93   ITX-AI   99520  2022  회생절차개시결정
239  74  에스에이치엔엘   50320  2022  회생절차개시결정
262  97  비엔디생활건강  215050  2022  회생절차개시결정
247  82     비디아이  148140  2022  회생절차개시결정

[421 rows x 5 columns]

In [2117]:
df_concat.to_csv('중복있음.csv',encoding="utf-8-sig")

In [2118]:
# 중복된 값을 모두 제거한 데이터 
df_concat중복제거 = df_concat.drop_duplicates(['거래소코드'],keep=False)

In [2119]:
# 중복된 값을 제거하지 않은 데이터 중에서 '공시제목' 열이 '회생개시'가 아닌 데이터 추출
df_concat중복값 = df_concat[(df_concat['공시제목'] != '회생절차개시결정') & df_concat.duplicated(['거래소코드'], keep=False)]

In [2120]:
df_concat중복값.loc[df_concat중복값["회사명"]=="한진해운"]

      번호   회사명   거래소코드  회계년도    공시제목
322  338  한진해운  117930  2016  상장폐지기업

In [2121]:
df_concat완성 = pd.concat([df_concat중복제거,df_concat중복값], axis=0)

In [2122]:
# TS2000데이터와 비교해서 데이터보유에 따라 Y=Y-1, Y=Y-2하기
df_concat완성['회계년도'] = df_concat완성['회계년도'].astype(int)

# Y=Y-1 코스닥
df_concat완성.loc[df_concat완성['거래소코드'] == 10670, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 10670, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 91690, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 91690, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 189700, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 189700, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 127160, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 127160, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 38340, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 38340, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 28040, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 28040, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 299910, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 299910, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 111610, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 111610, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 51170, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 51170, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 122800, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 122800, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 99520, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 99520, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 194860, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 194860, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 80440, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 80440, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 38120, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 38120, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 138690, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 138690, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 39790, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 39790, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 91270, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 91270, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 36260, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 36260, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 58420, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 58420, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 33340, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 33340, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 260490, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 260490, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 205290, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 205290, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 68150, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 68150, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 69110, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 69110, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 32420, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 32420, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 53320, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 53320, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 34010, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 34010, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 123260, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 123260, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 82220, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 82220, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 60910, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 60910, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 207230, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 207230, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 148140, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 148140, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 101970, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 101970, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 78650, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 78650, '회계년도'] - 1

# Y=Y-1 코스피
df_concat완성.loc[df_concat완성['거래소코드'] == 420, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 420, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 117930, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 117930, '회계년도'] - 1
df_concat완성.loc[df_concat완성['거래소코드'] == 2530, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 2530, '회계년도'] - 1

# Y=Y-2 코스닥
df_concat완성.loc[df_concat완성['거래소코드'] == 199870, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 199870, '회계년도'] - 2
df_concat완성.loc[df_concat완성['거래소코드'] == 86250, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] ==  86250, '회계년도'] - 2
df_concat완성.loc[df_concat완성['거래소코드'] == 33600, '회계년도'] = df_concat완성.loc[df_concat완성['거래소코드'] == 33600, '회계년도'] - 2

In [2123]:
df_concat완성.loc[df_concat완성["회사명"]=="한진해운"]

      번호   회사명   거래소코드  회계년도    공시제목
322  338  한진해운  117930  2015  상장폐지기업

In [2124]:
# TS2000 데이터타입으로 일치시키기 
df_concat완성['회계년도'] = df_concat완성['회계년도'].astype(object)

In [2125]:
df_concat완성.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 361 entries, 625 to 42
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      361 non-null    int64
 1   회사명     361 non-null    object
 2   거래소코드   361 non-null    int64
 3   회계년도    361 non-null    object
 4   공시제목    361 non-null    object
dtypes: int64(2), object(3)
memory usage: 16.9+ KB

In [2126]:
df_concat완성.to_csv('y값최종.csv', encoding='utf-8-sig')

## 코스닥 확인하기

In [2127]:
df_수익 = pd.read_csv('./datasets/코스닥/코스닥 수익성.csv',encoding='cp949')

In [2128]:
df_수익.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15617 entries, 0 to 15616
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   회사명                 15617 non-null  object
 1   거래소코드               15617 non-null  int64
 2   회계년도                15617 non-null  object
 3   총자본정상영업이익률(IFRS)    13566 non-null  float64
 4   자기자본순이익률(IFRS)      13566 non-null  float64
 5   총자본순이익률(IFRS)       13566 non-null  float64
 6   매출액총이익률(IFRS)       13566 non-null  float64
 7   금융비용부담률(IFRS)       13566 non-null  float64
 8   경영자본순이익률(IFRS)      13566 non-null  float64
 9   총자본정상영업이익률(IFRS연결)  10006 non-null  float64
 10  자기자본순이익률(IFRS연결)    10006 non-null  float64
 11  총자본순이익률(IFRS연결)     10006 non-null  float64
 12  매출액총이익률(IFRS연결)     10006 non-null  float64
 13  금융비용부담률(IFRS연결)     10006 non-null  float64
 14  경영자본순이익률(IFRS연결)    10006 non-null  float64
dtypes: float64(12), int64(1), object(2)
memory usage: 1.8+ MB

In [2129]:
df_수익.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15617 entries, 0 to 15616
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   회사명                 15617 non-null  object
 1   거래소코드               15617 non-null  int64
 2   회계년도                15617 non-null  object
 3   총자본정상영업이익률(IFRS)    13566 non-null  float64
 4   자기자본순이익률(IFRS)      13566 non-null  float64
 5   총자본순이익률(IFRS)       13566 non-null  float64
 6   매출액총이익률(IFRS)       13566 non-null  float64
 7   금융비용부담률(IFRS)       13566 non-null  float64
 8   경영자본순이익률(IFRS)      13566 non-null  float64
 9   총자본정상영업이익률(IFRS연결)  10006 non-null  float64
 10  자기자본순이익률(IFRS연결)    10006 non-null  float64
 11  총자본순이익률(IFRS연결)     10006 non-null  float64
 12  매출액총이익률(IFRS연결)     10006 non-null  float64
 13  금융비용부담률(IFRS연결)     10006 non-null  float64
 14  경영자본순이익률(IFRS연결)    10006 non-null  float64
dtypes: float64(12), int64(1), object(2)
memory usage: 1.8+ MB

In [2130]:
df_수익["회계년도"] = df_수익["회계년도"].map(change_year)

In [2131]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421 entries, 625 to 247
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      421 non-null    int64
 1   회사명     421 non-null    object
 2   거래소코드   421 non-null    int64
 3   회계년도    421 non-null    int32
 4   공시제목    421 non-null    object
dtypes: int32(1), int64(2), object(2)
memory usage: 18.1+ KB

In [2132]:
df_merge = pd.merge(df_수익,df_concat완성,on=['거래소코드','회계년도'],how='left')

In [2133]:
df_merge.to_csv('코스닥최종.csv', encoding='utf-8-sig')

## 코스피 확인하기

In [2134]:
df_수익1 = pd.read_csv('./datasets/코스피/코스피수익성.csv',encoding='cp949')

In [2135]:
df_수익1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8011 entries, 0 to 8010
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   회사명                 8011 non-null   object
 1   거래소코드               8011 non-null   int64
 2   회계년도                8011 non-null   object
 3   총자본정상영업이익률(IFRS)    7773 non-null   float64
 4   자기자본순이익률(IFRS)      7773 non-null   float64
 5   총자본순이익률(IFRS)       7773 non-null   float64
 6   매출액총이익률(IFRS)       7773 non-null   float64
 7   금융비용부담률(IFRS)       7773 non-null   float64
 8   경영자본순이익률(IFRS)      7773 non-null   float64
 9   총자본정상영업이익률(IFRS연결)  6449 non-null   float64
 10  자기자본순이익률(IFRS연결)    6449 non-null   float64
 11  총자본순이익률(IFRS연결)     6449 non-null   float64
 12  매출액총이익률(IFRS연결)     6449 non-null   float64
 13  금융손익비율(IFRS연결)      6449 non-null   float64
 14  경영자본순이익률(IFRS연결)    6449 non-null   float64
dtypes: float64(12), int64(1), object(2)
memory usage: 938.9+ KB

In [2136]:
df_수익1["회계년도"] = df_수익1["회계년도"].map(change_year)

In [2137]:
df_merge = pd.merge(df_수익1,df_concat완성,on=['거래소코드','회계년도'],how='left')

In [2138]:
df_merge.to_csv('코스피최종.csv', encoding='utf-8-sig')